@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

body {
		background: #F6F2E4;
}

.title { 	
			text-align: right; 
			padding-left: 5px; 
			padding-right: 40px; 
			padding-bottom: 10px; 
}

.coordonnees { 	
				text-align: right; 
				padding-top: 5px; 
				padding-left: 5px; 
				padding-right: 40px; 
				padding-bottom: 25px; 
}

.description {	
				text-align: center; 
				padding-top: 5px; 
				padding-left: 40px; 
				padding-right: 40px; 
				padding-bottom: 45px; 
}

.content {	
			column-count: 2;
			-moz-column-count: 2;
			-webkit-column-count: 2;
			text-align: left; 
			padding-left: 40px; 
			padding-right: 40px;
			margin: auto; 
}

.img {	
		padding-left: 40px; 
		padding-right: 5px; 
}

.dispo {
		text-align: center;
		padding-top: 10px; 
		padding-left: 10px; 
		padding-right: 10px; 
		padding-bottom: 10px; 
}

h1 {
	font-family: "Tenor", sans-serif; 
	font-size: 55px; 
	color: #101010 
}

h2 {
	font-family: Montserrat; 
	font-size: 25px; 
	color : #545454
}

h3 {
	font-family: Montserrat; 
	font-size: 19px; 
	color : #3D3E44;
}

h4 {
	font-family: Montserrat classic; 
	font-size: 15px; 
	color: #3A3A3D
}

h5 {
	font-family: Montserrat; 
	font-size: 16px; 
	color: #3A3A3D
}

p {
	font-family: "Tenor", sans-serif; 
	font-size: 15px; 
	color: #101010; 
}

ul {
	text-align: left;
}
	
li {
	font-family: "Tenor", sans-serif; 
	font-size: 15px;
	color: #101010 
}

a {	
	font-family: "Tenor", sans-serif;
	font-size: 15px;
	color: #084059; 
}